@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

a:hover {
  color: #5caf90 !important;
}

.title {
  margin-bottom: 0;
  font-size: 25px;
  line-height: 38px;
  font-weight: 600;
  color: #4b5966;
  position: relative;
  display: inline-block;
  padding: 0;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 40px;
}

.text-hight-light {
  color: #5caf90;
  letter-spacing: 0.02rem;
}

.sub-title {
  max-width: 400px;
  margin-top: 10px;
  font-size: 14px;
  color: #777;
  line-height: 18px;
  font-weight: 300;
  display: block;
}

.banner-sale {
  &:after {
    content: "";
    display: block;
    height: 100%;
    left: -75%;
    position: absolute;
    top: 0px;
    transform: skewX(-25deg);
    width: 50%;
    z-index: 2;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transition: all 0.5s;
  }

  &:hover::after {
    left: 100%;
  }
}

.wrap-my-profile {
  .content-profile {
    .bg-profile {
      .wrap-bg {
        background-image: url("/src/assets/image/bg-my-profile.jpg");
        min-height: 300px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; // Thêm để ảnh nền phủ toàn bộ
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: overlay; // Hòa trộn màu với ảnh
      }
    }
  }
}
